.Indicator {
  position: fixed;
  top: 16px;
  right: 16px;
  width: 8px;
  height: 8px;
  margin-left: 3px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  
  background-color: red;
  box-shadow: 0 0 5px 3px rgba(255, 0, 0, 0.35);
  border-radius: 999px;

  animation: pulse 1.25s infinite ease-in;
}

.Indicator.connected {
  background-color: green;
  box-shadow: 0 0 5px 3px rgba(0, 128, 0, 0.35);
}

@keyframes pulse {
  50% {
    transform: scale(1.15);
  }
}