.FullScreen {
  position: fixed;
  bottom: 16px;
  right: 16px;
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  background-color: var(--ButtonBackground);
  color: white;
}

.FullScreen.active {
  opacity: 0;
}

.FullScreen:hover {
  opacity: 1;
}

.FullScreen  svg {
  width: 24px;
}