.modal {
  width: 100%;
  max-width: 80dvw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  background-color: transparent;
  outline: none;
  overflow: visible;
}

.modal::backdrop {
  background-color: rgba(0,0,0,.75);
  backdrop-filter: blur(3px);
}